{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Strength Checker</title>
    <link rel="stylesheet" href="{% static 'password_checker.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  </head>
  <body>
    <div class="container">
      <h2>Password Strength Checker</h2>
    <form method="post" action=".">  <!-- it is the start of the form and it defines the POST method which is more secure for handling sensitive infos. like passwords -->
    {% csrf_token %} <!-- django's built in security feature that is used to prevent csrf attacks, it checks that wheather thr requets is being coming from the same website -->
    {{ form.as_p }} <!-- it automatically renders tghe fields defined in the django form class -->
    {% if form.errors %} <!-- checks if there is any errors in the form submission, 'form.errors' contains all these -->
      <div class="form-errors"> <!-- creating a form that will check for any errors in the  -->
        <ul>
          {% for field in form %}
            {% if field.errors %}
              <li>
                {{ field.label }}: {{ field.errors|striptags }}
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    <button type="submit">Check Password</button>
    </form>
    {% if feedback %}
      <h3>
        Strength Score: {{ feedback.score }} (1 = Week, 5 = strong)
      </h3> <!-- checking the strength of the pasword, wheere 'feedback.score' is the numeric value saying the strength -->
      <p>
        {{ feedback.warning }} <!-- gives any warnings like caution about that the password is too common -->
      </p>
      <ul>
        {% for suggestion in feedback.suggestions %}
          <li>
            {{ suggestion }}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </body>
</html>